.loader {
    border: 12px solid #822659;
    border-top: 12px solid #E4BAD4;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 20s linear infinite;
    transform: translate(-10%, -10%);
    /* position: absolute;
    left: 50%;
    top: 40%; */
    /* top: 120px; */
  }
  
  @keyframes spin {
    0% { transform:translate(-50%, -50%) rotate(0deg); }
    25% { transform:translate(-40%, -40%) rotate(80deg); }
    50% { transform:translate(-30%, -30%) rotate(160deg); }
    75% { transform:translate(-20%, -20%) rotate(2480deg); }
    100% { transform:translate(-10%, -10%) rotate(360deg); }
  }